form{ width: 25%;
    padding: 3%;
    margin: auto;
    background-color: rgb(58, 87, 99);}
    
    /*este div hace que no se vea el bloque*/
     div{display: ;
        flex-direction: column;
        margin: 5%;}
    
    label{margin-bottom:  5px;
    font-weight: bold;}
    
    input{ margin-bottom: 12px;}
    
    .login{ border: 1px solid black;
        padding: 15px 5px;
        background-color: rgb(96, 223, 164);}